@mixin define{
.editor-dialog{
    // padding: 0px;

    [frame]{
        min-height: 100px;
        min-width: 100px;
        
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;        
        
        [body]{
            flex:1 1 auto;
        }
        
        [footer]{
            // border: 1px solid gray;
            margin-top:0.2rem;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: flex-start;
            align-content: center;            
            
        }
    }
}
}