@mixin define{
    $cursorWidth:2px;
    
    .editor-area{

        overflow: auto;

        border:$cursorWidth solid var(--rew-border);

        background-color: var(--rew-fone-edit);
        padding: calc(var(--rew-gap)*3);
        box-shadow:inset 2px 2px 4px 0px var(--rew-shadow);

        >*{
            color:var(--rew-color);
            // border-left:$cursorWidth solid rgba(0,0,0,0);
            // letter-spacing: -$cursorWidth;
            box-sizing: border-box;
            
        }

        .cursor{
            animation: blink 1s infinite; /* мигание курсора */
            //border-left:1px solid var(--rew-cursor);
            
            background: linear-gradient(90deg, var(--rew-cursor) 0px, var(--rew-cursor) $cursorWidth, var(--rew-transparent) $cursorWidth, var(--rew-transparent) 100%);            
            
            @keyframes blink {
                0% { 
                    // border-left:$cursorWidth solid var(--rew-cursor);
                    background: linear-gradient(90deg, var(--rew-cursor) 0px, var(--rew-cursor) $cursorWidth, var(--rew-transparent) $cursorWidth, var(--rew-transparent) 100%);            
                }
                50% { 
                    background: linear-gradient(90deg, var(--rew-cursor) 0px, var(--rew-cursor) $cursorWidth, var(--rew-transparent) $cursorWidth, var(--rew-transparent) 100%);            
                }
                51% { 
                    background: none;            
                }
                100% { 
                    background: none;            
                }

            }            
            // outline: 1px solid lime;
            // box-shadow:-1px 0px 0px 0px lime,inset 1px 0px 0px 0px lime;
        }

        .select{
            // border-left-color: $bgSelect;
            background-color: var(--rew-bg-select) !important;
            color:var(--rew-color-select) !important;
            // font-size: 0.6rem;
        }
        @content;
    }
}