@mixin define{
    .editor-area{
        overflow: auto;
        max-height: 200px;
        height: 200px;

        border:1px solid var(--rew-border);
        background-color: var(--rew-fone-edit);
        padding: var(--rew-gap);
        box-shadow:inset 2px 2px 4px 0px var(--rew-shadow);
        >*{
            color:var(--rew-color);
        }
        .cursor{
             border-left:2px solid var(--rew-cursor);
            // outline: 1px solid lime;
            // box-shadow:-1px 0px 0px 0px lime,inset 1px 0px 0px 0px lime;
        }

        .select{
            // border-left:1px solid lime;
            background-color: #01359F;
            color:white !important;
            // font-size: 0.6rem;
        }
        @content;
    }
}