@mixin define{
    .editor-area{

        overflow: auto;

        border:1px solid var(--rew-border);
        background-color: var(--rew-fone-edit);
        padding: calc(var(--rew-gap)*3);
        box-shadow:inset 2px 2px 4px 0px var(--rew-shadow);
        >*{
            color:var(--rew-color);
        }
        .cursor{
            animation: blink 2s infinite; /* Параметры анимации */
            border-left:2px solid var(--rew-cursor);
            @keyframes blink {
                0% { 
                    border-left:2px solid var(--rew-cursor);
                }
                80% { 
                    border-left:2px solid var(--rew-cursor);
                }
                81% { 
                    border-left:2px solid rgba(0,0,0,0);
                }
                100% { 
                    border-left:2px solid rgba(0,0,0,0);
                }

            }            
            // outline: 1px solid lime;
            // box-shadow:-1px 0px 0px 0px lime,inset 1px 0px 0px 0px lime;
        }

        .select{
            // border-left:1px solid lime;
            background-color: #01359F;
            color:white !important;
            // font-size: 0.6rem;
        }
        @content;
    }
}