
:root{ 
    --rew-size:24px;
    --rew-gap:2px;


    --rew-color:black;
    --rew-fone: rgb(218, 218, 218);        
    --rew-border: rgb(167, 167, 167);        
    --rew-fone-edit: rgba(255, 255, 255, 0.473);        
    --rew-shadow: #b4b4b4;
    --rew-cursor: rgb(8, 150, 8);
    --rew-transparent: rgb(0, 0, 0, 0);

    --rew-bg-select:#2B5FC9;
    --rew-color-select:#ffffff;

    &.dark{
            
        --rew-color:rgb(59, 59, 59);
        --rew-fone: rgb(139, 139, 139);        
        --rew-border: gray;        
        --rew-fone-edit: rgb(214, 214, 214);        
        --rew-shadow: #434343;
        --rew-cursor: rgb(0, 0, 0);
        
    }
}        


